
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row .col-sm-3 {
    width: 24.9%;
}

.entry {
    height: 200px;
    padding: 5px;
    padding-bottom: 30px;

    .title a {
        color: #444;
        font-weight: bold;
        text-decoration: none;
    }

    .title a:visited {
        color: #777;
    }

    .title a:hover {
        color: #3097D1;
    }

    .description {
    }

    .feed-name a {
        color: #999;
    }

    .published-at {
        color: #999;
        text-align: right;
    }
}
