
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.panel-heading a {
    color: #111;
    text-decoration: none;
}

.no-top-padding { padding-top: 0; }

.entry.with-img    {
    height: 350px;
    @media (min-width: 800px) {
        height: 320px;
    }
}

.entry.without-img {
    height: 175px;
    @media (min-width: 800px) {
        height: 160px;
    }
}

.entry {
    border: 0.5px solid #eee;

    .thumbnail {
        width:  auto;
        height: auto;
        max-width:  100%;
        max-height: 180px;
        margin: 20px auto 0 auto;
    }

    .title a {
        color: #444;
        font-size: 16px;
        @media (min-width: 800px) {
            font-size: 18px;
        }
        line-height: 1.4;
        font-weight: bold;
        text-decoration: none;
    }

    .title a:visited {
        color: #777;
    }

    .title a:hover {
        color: #3097D1;
    }

    .description {
    }

    .footer {
        position: absolute;
        bottom: 10px;
        width: 100%;
    }

    .feed-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .feed-name a {
        color: #999;
    }

    .published-at {
        color: #999;
        text-align: right;
    }
}
